.rating {
  $color = #000;
  background-color: #fff;
  background-clip: padding-box;
  border-color: $color;
  color: $color;
  border: solid 3px;
  font-size: 18px;
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 5px 5px 0;
  .indicator {
    margin-top: -5px;
    margin-bottom: 5px;
  }
}

.rating-1 {
  $color = rgba(102, 102, 102, 0.1);
  background-color: $color;
  border-color: $color;
}

.rating-2 {
  $color = rgba(102, 102, 102, 0.5);
  background-color: $color;
  border-color: $color;
}

.rating-3 {
  $color = rgba(102, 102, 102, 1);
  background-color: $color;
  border-color: $color;
  color: #fff;
}

//-----------------------------

.ratings {
  list-style: none;
  padding-left: 0;
  li {
    display: inline-block;
  }
}

.indicator {
  text-align: left;
  .bar {
    color: #ccc;
    display: inline-block;
    margin: 0 5px 0 0;
    line-height: 1;
    font-size: 12px;
    transition: color 0.25s ease;
  }
  span.active {
    color: #19c1e8;
  }
}
