.rating {
  border: solid 3px;
  color: #fff;
  font-size: 18px;
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 5px 5px 0;
  transition: background-color 0.25s ease;
}

.rating-0 {
  $color = #000;
  background-color: #fff;
  border-color: $color;
  color: $color;
}

.rating-1 {
  $color = #88cc88;
  background-color: $color;
  border-color: $color;
}

.rating-2 {
  $color = #2d882d;
  background-color: $color;
  border-color: $color;
}

.rating-3 {
  $color = #004400;
  background-color: $color;
  border-color: $color;
}

//-----------------------------

.ratings {
  list-style: none;
  padding-left: 0;
  li {
    display: inline-block;
  }
}
